<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Wallnote</h1>
    <span>Logged in as: <%= currentUser.username %></span>

    <a href="/logout">logout</a>

    <div>
        <h2>Posts</h2>
        <ul>
            <% post.forEach(element => { %>
                <li class="wall-post" data-id="<%=element._id%>">
                    <p><%=element.message%> <span>@<%=element.userId.username%></span></p>
                    <% if (currentUser.username === element.userId.username) {%>
                        <span class="delete-btn"> Delete</span>
                    <%}%>
                </li>
            <%})%>
        </ul>
    </div>

    <form action="/wall/postMessage" method="post">
        <input type="text" placeholder="message" name="message">
        <button type="submit">Create post</button>
    </form>

    <script src="main.js"></script>
</body>
</html>