<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Wall Page</h1>

    <div>
        <h2>Posts</h2>
        <ul>
            <% post.forEach(element => { %>
                <li class="wall-post" data-id="<%=element._id%>">
                    <span><%=element.message%></span>
                    <span class="delete-btn"> | DELETE</span>
                </li>
            <%})%>
        </ul>
    </div>

    <form action="/postMessage" method="post">
        <input type="text" placeholder="message" name="message">
        <button type="submit">Create post</button>
    </form>

    <script src="main.js"></script>
</body>
</html>